$red: #CC0000; 
$grey: #4a4a4a; 
$bright-red: #ff3535; 
$almost-black: #323232; 
$border-grey: #DADADA; 
$function-grey: #ADADAD; 
$medium-grey: #CCCCCC; 
$background-grey: #FBFBFB; 
$relation-amount-grey: #868686; 
