/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/
.control input {
  padding: 0.5rem 0.8rem;
  height: auto;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  height: 100%;
}

.select {
  height: auto !important;
  width: 100%;
  select {
    height: auto !important;
    padding: 0.5rem 0.8rem;
    width: 100%;
  }
}

.select:not(.is-multiple)::after {
  margin-top: auto;
  transform: rotate(-45deg) translateY(-80%);
}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
.button {
  height: auto;
}

/*
|--------------------------------------------------------------------------
| Box
|--------------------------------------------------------------------------
*/
.box {
  height: 100%;
  border: 1px solid $border-grey;
  border-radius: 0;
  box-shadow: 0 25px 65px -20px rgba(0, 0, 0, 0.15);
}

.box-header {
  font-size: 20px;
  color: $almost-black;
  margin-top: -4px;
  margin-bottom: 12px;
}
