/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/
.control input {
  padding: 0.8rem;
  height: auto;
}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
.button {
  border-radius: 100px;
  height: auto;
}