<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Canon</title>
  <meta name="csrf-token" content="{{ csrfToken }}">
  {{ css('css/promotion') }}
</head>
<body>
  <div class="promotion-header container">
    <div class="columns">
      <div class="promotion-header-logo column">
        Easy Link Keeper
      </div>
      <div class="promotion-header-links column">
        <ul>
          <li><a href="#promotion-features">Features</a></li>
          <li><a href="#promotion-team">Our team</a></li>
          <li><a href="#promotion-contact">Contact</a></li>
          <li><a href="/login" class="button is-primary">Go to login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="promotion-call-to-action">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">Manage proposals,<br> with better relations.</h1>
          <h2 class="subtitle">Easy link keepers allows your company to get better insight <br>in the companies you provide proposals for, with ease!</h1>
          <a href="#promotion-features" class="button is-primary">See the features</a>
        </div>
        <div class="column">
          <img src="images/screenshot.png">
        </div>
      </div>
    </div>
  </div>
  <div id="promotion-features" class="promotion-features">
    <div class="container">
      <div class="columns is-multiline">
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/proposal.svg">
            </div>
            <div class="column">
              <h3>Manage Proposals</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe itaque laudantium, rerum consequuntur reprehenderit soluta magnam! Dignissimos deleniti unde accusantium.</p>
            </div>
          </div>
        </div>
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/insight.svg">
            </div>
            <div class="column">
              <h3>Gain insight</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas maxime voluptatum vitae officia veniam quia velit sint laborum aperiam assumenda ratione.</p>
            </div>
          </div>
        </div>
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/act.svg">
            </div>
            <div class="column">
              <h3>Act on your best chances</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde deserunt eligendi enim, quod temporibus inventore magni molestiae tempora mollitia.</p>
            </div>
          </div>
        </div>
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/proposal.svg">
            </div>
            <div class="column">
              <h3>Compare with competitors</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe itaque laudantium, rerum consequuntur reprehenderit soluta magnam! Dignissimos deleniti unde accusantium.</p>
            </div>
          </div>
        </div>
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/proposal.svg">
            </div>
            <div class="column">
              <h3>Get a good overview</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe itaque laudantium, rerum consequuntur reprehenderit soluta magnam! Dignissimos deleniti unde accusantium.</p>
            </div>
          </div>
        </div>
        <div class="promotion-feature column is-one-third">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/proposal.svg">
            </div>
            <div class="column">
              <h3>Get recommendations</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe itaque laudantium, rerum consequuntur reprehenderit soluta magnam! Dignissimos deleniti unde accusantium.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="promotion-team" class="promotion-team">
    <div class="container">
      <div class="columns">
        <div class="promotion-team-header column"><h2>Meet our team</h2></div>
      </div>

      <div class="promotion-team-members columns">
        <div class="promotion-team-member column">
          <div class="promotion-team-member-photo"></div>
          <h4>Vince van Noort</h4>
          <div>Software engineer</div>
        </div>
        <div class="promotion-team-member column">
          <div class="promotion-team-member-photo"></div>
          <h4>Jort van Gorkum</h4>
          <div>Software engineer</div>
        </div>
        <div class="promotion-team-member column">
          <div class="promotion-team-member-photo"></div>
          <h4>Niek Geijtenbeek</h4>
          <div>Mastermind of Algorithms</div>
        </div>
        <div class="promotion-team-member column">
          <div class="promotion-team-member-photo"></div>
          <h4>Tijmen van der Spijk</h4>
          <div>Communication and Sales</div>
        </div>
        <div class="promotion-team-member column">
          <div class="promotion-team-member-photo"></div>
          <h4>Madio seck</h4>
          <div>Communication and Sales</div>
        </div>
      </div>
    </div>
  </div>
  <div id="promotion-contact" class="promotion-contact">
    <div class="container">
      <div class="columns">
        <div class="promotion-contact-header column"><h2>Get in touch</h2></div>
      </div>
      <div class="columns is-centered">
        <div class="promotion-contact-text column is-6">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ex, veniam eum earum tempora, ducimus reiciendis asperiores similique enim amet ea quaerat natus id aperiam quisquam fugit est libero. Esse!</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
