<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Canon</title>
  <meta name="csrf-token" content="{{ csrfToken }}">
  {{ css('css/promotion') }}
</head>
<body>
  <div class="promotion-header container">
    <div class="columns">
      <div class="promotion-header-logo column">
        Easy Link Keeper
      </div>
      <div class="promotion-header-links column">
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Our team</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/login" class="button is-primary">Request a demo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="promotion-call-to-action">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">Manage proposals,<br> with better relations.</h1>
          <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
          <button class="button is-primary">See the features</button>
        </div>
        <div class="column">
          <img src="images/screenshot.png">
        </div>
      </div>
    </div>
  </div>
  <div class="promotion-features">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/proposal.svg">
            </div>            
            <div class="column">
              <h3>Manage Proposals</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe itaque laudantium, rerum consequuntur reprehenderit soluta magnam! Dignissimos deleniti unde accusantium.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/insight.svg">
            </div>            
            <div class="column">
              <h3>Gain insight</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas maxime voluptatum vitae officia veniam quia velit sint laborum aperiam assumenda ratione.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="promotion-features-icon column is-3">
              <img src="images/act.svg">
            </div>            
            <div class="column">
              <h3>Act on your best chances</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde deserunt eligendi enim, quod temporibus inventore magni molestiae tempora mollitia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>