<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Canon</title>
  <meta name="csrf-token" content="{{ csrfToken }}">
  {{ css('css/single-page-application') }}
</head>
<body>
	<div id="app">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
	</div>
  {{ script('js/app') }}
</body>
</html>