{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": [ "plugin:vue/recommended" ],
  "rules": {
    "no-undef": "error",
    "max-len": "off",
    "no-plusplus": "off",
    "vue/max-attributes-per-line": "off",
    "semi": [  "error", "never" ],
    "class-methods-use-this": [ "off" ],
    "padded-blocks": [ "error", { "classes": "always" } ],
    "comma-dangle": [ "warn", "never" ],
    "strict": [ "warn", "never" ],
    "no-restricted-syntax": [ "warn", "never" ],
    "object-curly-newline": [ "warn", { "multiline": true } ],
    "space-before-blocks": [ "error", "always" ]
  },
  "globals": { "use": false, "document": false, "axios": false, "module": false, "require": false, "Chart": false, "response": false }
}
